BraveSoftware/
Code/
KDE/
Trolltech.conf
alacritty/
baloofilerc
composer/
dconf/
discord/
fish/
gtk-2.0/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
i3/
i3status/
kactivitymanagerd-statsrc
kactivitymanagerdrc
kcminputrc
kconf_updaterc
kde.org/
kded5rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
lazygit/
libaccounts-glib/
menus/
nitrogen/
nvim.nvchadbak/
nvim/
picom/
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmashellrc
powermanagementprofilesrc
pulse/
session/
systemd/
systemsettingsrc
tmux/
user-dirs.dirs
user-dirs.locale
warp-terminal/
xsettingsd/
