BraveSoftware/
htop/
Code/
KDE/
Trolltech.conf
tmux/plugins/
baloofilerc
composer/
dconf/
discord/
gtk-2.0/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kcminputrc
kconf_updaterc
kde.org/
kded5rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
libaccounts-glib/
menus/
nitrogen/
nvim/
nvim.nvchadbak/
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmashellrc
powermanagementprofilesrc
pulse/
session/
systemd/
systemsettingsrc
user-dirs.dirs
user-dirs.locale
warp-terminal/
xsettingsd/
mimeapps.list
device_automounter_kcmrc
Windscribe/
autostart/
protonvpn/
unity3d/
